body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
    background-color: #a4a4a4;
}

.season {
    width: 200px;
    height: 240px;
    margin: 10px;
}

.season img {
    width: 100%;
    height: auto;
}

.season p {
    text-align: center;
}